<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    
    <div class="container">
        <form action="/alunos" method="post">
            <input type="hidden" name="_id" value="<%= aluno._id %>">
            <div>
                <label for="inp_matricula" class="form-label">Matrícula</label> 
                <input value="<%= aluno.matricula%>" class="form-control" type="text" required placeholder="Sua matricula" name="inp_matricula">
            </div>
            <div>
                <label for="inp_nome" class="form-label">Nome</label>
                <input value="<%= aluno.nome%>"class="form-control" type="text" required placeholder="Seu nome" name="inp_nome">
            </div>
            <div>
                <label for="inp_curso" class="form-label">Curso</label>
                <input value="<%= aluno.curso%>" class="form-control" type="text" required placeholder="Seu curso" name="inp_curso">
            </div>
            <div>
                <a class="btn btn-danger" href="/">Voltar</a>
                <input class="btn btn-success" type="submit" value="Salvar">
                
            </div>
        </form>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>