<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhar usuario</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <h1>Informações de <%= usuario.nome %></h1>

    <div>
        Nome: <%= usuario.nome %>
    </div>

    <div>
        E-mail: <%= usuario.email %>
    </div>

    <div>
        CPF: <%= usuario.cpf %>
    </div>
    <div>
        Senha: <%= usuario.senha %>
    </div>
    
    <br>
    <div>
        <a href="/usuarios/"><button>Listagem</button></a>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>